<section class="-w-contact -w-section-container" id="contact">
        <div class="-w-section-title -w-scroll-animation">
        <span class="-w-section-title__en">CONTACT</span>
        <h2 class="-w-section-title__ja">お問い合わせ</h2>
    </div>
    <p class="-w-contact__text -w-scroll-animation">ご連絡お待ちしております。<br><small>※転職活動用のポートフォリオのため、ご相談、ご依頼はお受けしておりません。</small></p>
    <div class="-w-contact__mail-wrapper -w-scroll-animation">
        <a href="mailto:sub.takariki@gmail.com" class="-w-contact__mail-address">sub.takariki@gmail.com</a>
    </div>
</section>